@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: "Georgia Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Georgia Regular"), url("/fonts/georgia.woff2") format("woff2");
  }

  @font-face {
    font-family: "Georgia Italic";
    font-style: italic;
    font-weight: normal;
    src: local("Georgia Italic"), url("/fonts/georgiai.woff2") format("woff2");
  }

  @font-face {
    font-family: "Georgia Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Georgia Bold"), url("/fonts/georgiab.woff2") format("woff2");
  }

  @font-face {
    font-family: "Georgia Bold Italic";
    font-style: italic;
    font-weight: normal;
    src: local("Georgia Bold Italic"),
      url("/fonts/georgiaz.woff2") format("woff2");
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li,
  span,
  div,
  input,
  button,
  textarea,
  select,
  label,
  option,
  small,
  strong,
  b,
  i,
  em,
  u,
  ul,
  ol,
  dl,
  dt,
  dd,
  blockquote,
  pre,
  code,
  hr,
  table,
  td,
  form,
  fieldset,
  legend,
  address,
  img,
  figure,
  figcaption,
  header,
  footer,
  nav,
  section,
  article,
  main,
  video,
  audio,
  iframe,
  object,
  canvas,
  details,
  summary,
  menu,
  menuitem,
  summary {
    //word-break: break-word;
    font-family: "Outfit", sans-serif;
  }
}

/*Weight */
h1,
h2,
h3 {
  line-height: 130% ;
  @apply font-light;
  color: black;
}

h4,
h5,
h6 {
  @apply font-normal;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  & span {
    color: black;
  }
}

p,
span,
li,
a,
label {
  @apply font-light;
  color: #25272d;
}

/* Size */
h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p,
span,
li,
a,
label {
  @apply text-base;
}

small {
  @apply text-sm;
}

@layer base {
  .padding-x-estilo1 {
    @apply w-full px-8 2xl:container sm:px-10 md:px-14 lg:px-16 xl:px-24 2xl:px-32;
  }

  .padding-y-estilo1 {
    @apply py-20;
  }

  .padding-estilo1 {
    @extend .padding-x-estilo1;
    @extend .padding-y-estilo1;
  }
}

/*********************************************************************************************/
/* Textos */

//Titulo 1
@layer base {
  .text-titulo1-bold {
    @apply text-4xl font-bold;
    line-height: 115%;
  }

  .text-titulo1-semibold {
    @apply text-4xl font-semibold;
    line-height: 115%;
  }

  .text-titulo1-medium {
    @apply text-4xl font-medium;
    line-height: 115%;
  }

  .text-titulo1-regular {
    @apply text-4xl font-normal;
    line-height: 115%;
  }

  //Titulo 2
.text-titulo2-semibold {
    @apply text-3xl font-semibold;
    line-height: 115% !important;
  }

  .text-titulo2-medium {
    @apply text-3xl font-medium;
    line-height: 115% !important;
  }

  .text-titulo2-regular {
    @apply text-3xl font-normal;
    line-height: 115% !important;
  }

  //Titulo 3
  .text-titulo3-semibold {
    @apply text-2xl font-semibold;
    line-height: 135%;
  }

  .text-titulo3-medium {
    @apply text-2xl font-medium;
    line-height: 135%;
  }

  .text-titulo3-regular {
    @apply text-2xl font-normal;
    line-height: 135%;
  }

  .text-titulo3-light {
    @apply text-2xl font-light;
    line-height: 135%;
  }

  //Subtitulo
  .text-subtitulo-semibold {
    @apply text-xl font-semibold;
    line-height: 135%;
  }

  .text-subtitulo-medium {
    @apply text-xl font-medium;
    line-height: 135%;
  }

  .text-subtitulo-regular {
    @apply text-xl font-normal;
    line-height: 135%;
  }

  .text-subtitulo-light {
    @apply text-xl font-light;
    line-height: 135%;
  }

  //Body Base
  .text-base-semibold {
    @apply text-base font-semibold;
    line-height: 155%;
  }

  .text-base-medium {
    @apply text-base font-medium;
    line-height: 155%;
  }

  .text-base-regular {
    @apply text-base font-normal;
    line-height: 155%;
  }

  .text-base-light {
    @apply text-base font-light;
    line-height: 155%;
  }

  //Body Small
  .text-sm-semibold {
    @apply text-sm font-semibold;
    line-height: 145%;
  }

  .text-sm-medium {
    @apply text-sm font-medium;
    line-height: 145%;
  }

  .text-sm-regular {
    @apply text-sm font-normal;
    line-height: 145%;
  }

  .text-sm-light {
    @apply text-sm font-light;
    line-height: 145%;
  }

  //Body Extra Small
  .text-xs-semibold {
    @apply text-xs font-semibold;
    line-height: 145%;
  }

  .text-xs-medium {
    @apply text-xs font-medium;
    line-height: 145%;
  }

  .text-xs-light {
    @apply text-xs font-light;
    line-height: 145%;
  }
}

/*********************************************************************************************/
/* Padding */
//Padding Estilo 2
@layer base {
  .padding-x-estilo2 {
    @apply w-full px-4  2xl:container xs:px-8 sm:px-10 md:px-14 lg:px-20 xl:px-24;
  }

  .padding-y-estilo2 {
    @apply py-16;
  }

  .padding-estilo2 {
    @extend .padding-x-estilo2;
    @extend .padding-y-estilo2;
  }
}

/*********************************************************************************************/
/*Hambuger*/
// body {
//   width: 100vw;
//   height: 100vh;
//   background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%);
//   overflow: hidden;
//   padding: 0;
//   margin: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// nav {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   width: 300px;
// }

// .background {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   width: 300px;
//   background: #fff;
// }

// button {
//   outline: none;
//   border: none;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   cursor: pointer;
//   position: absolute;
//   top: 18px;
//   left: 15px;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background: transparent;
// }

// ul,
// li {
//   margin: 0;
//   padding: 0;
// }

// ul {
//   padding: 25px;
//   position: absolute;
//   top: 100px;
//   width: 230px;
// }

// li {
//   list-style: none;
//   margin-bottom: 20px;
//   display: flex;
//   align-items: center;
//   cursor: pointer;
// }

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


//home
.masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.masonry-grid-column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.masonry-grid-item {
  margin-bottom: 30px; /* gutter size */
  width: 100%;
}

@media (max-width: 1100px) {
  .masonry-grid {
    flex-wrap: wrap;
    margin-left: -30px;
  }

  .masonry-grid-column {
    padding-left: 30px;
    width: 100%;
  }
}

//---------------------------------------------------------------------------------------------

$mf-color-base:#f24e1ef2 !default;
$mf-color-text:#fff !default;

.mf-cursor {

    $root:&;
color: $mf-color-base;
    position:fixed;
    top:0;
    left:0;
    z-index:250;

    direction:ltr;
    contain:layout style size;
    pointer-events:none;

    transition:opacity 0.3s, color 0.4s;

    &:before {
      color: $mf-color-base;
        content:"";
        position:absolute;
        top:-24px;
        left:-24px;
        display:block;
        width:48px;
        height:48px;
        transform:scale(0.2);

        background:currentColor;
        border-radius:50%;

        transition:transform 0.25s ease-in-out, opacity 0.1s;
    }

    &.-inverse {
        color:invert($mf-color-base);
    }

    &.-exclusion {
        @supports (mix-blend-mode:exclusion) {
            mix-blend-mode:exclusion;

            &:before {
                background:invert($mf-color-base);
            }
        }
    }

    &.-pointer {
        &:before {
            transform:scale(0.15);
        }
    }

    &.-text {
        &:before {
            opacity:0.85;
            transform:scale(1.7);
        }

        &.-active:before {
            transform:scale(1.6);
            transition-duration:0.2s;
        }
    }

    &.-icon {
        &:before {
            transform:scale(1.5);
        }

        &.-active:before {
            transform:scale(1.4);
        }
    }

    &.-hidden {
        &:before {
            transform:scale(0);
        }
    }

    &-text {
        position:absolute;
        top:-18px;
        left:-18px;
        width:36px;
        height:36px;
        display:flex;
        align-items:center;
        justify-content:center;
        transform:scale(0) rotate(10deg);

        opacity:0;
        color:$mf-color-text;

        font-size:16px;
        line-height:20px;
        text-align:center;

        transition:opacity 0.4s, transform 0.3s;

        #{$root}.-text &, #{$root}.-icon & {
            opacity:1;
            transform:scale(1);
        }
    }

    &-media {
        position:absolute;
        width:400px;
        height:400px;
        margin:(-400px * 0.5) 0 0 (-400px * 0.5);

        img, video {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            border-radius:50%;

            @supports (object-fit:cover) {
                position:static;
                width:100%;
                height:100%;
                object-fit:cover;
                transform:translateZ(0);
            }
        }

        &-box {
            position:relative;
            width:100%;
            height:100%;
            overflow:hidden;
            transform:scale(0) translateZ(0);
            padding:1px;

            opacity:0;
            border-radius:50%;

            transition:transform 0.35s, opacity 0.2s 0.2s;

            #{$root}.-media & {
                opacity:1;
                transform:scale(0.696);
                transition-duration:0.4s, 0.4s;
                transition-delay:0s, 0s;
            }
        }
    }
}

.clase-svg {
  width: 30px;
  height: 30px;
}
